@import "tailwindcss";
@import 'rehype-callouts/theme/obsidian';
@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";

@theme {

    /*Neutral*/
    --color-neutral-900: #1c1a19;
    --color-neutral-800: #201e1d;
    --color-neutral-700: #343020;
    --color-neutral-600: #4a4845;
    --color-neutral-400: #c0bfbf;
    --color-neutral-300: #dedcda;
    --color-neutral-200: #efedeb;
    --color-neutral-100: #fbf9f7;
    --color-neutral-0: #ffffff;

    /*Blue*/
    --color-blue-200: #e1f1fe;
    --color-blue-500: #93cefc;
    --color-blue-700: #75b0de;
    --color-blue-800: #5792c0;
    --color-blue-900: #022b4a;

    /*Green*/
    --color-green-200: #e9f5ea;
    --color-green-500: #9dd3a9;
    --color-green-700: #008531;
    --color-green-900: #132a18;

    /*Yellow*/
    --color-yellow-200: #fff5e1;
    --color-yellow-500: #facc79;
    --color-yellow-700: #ea9806;
    --color-yellow-900: #4a3003;

    /*Red*/
    --color-red-400: #f04438;
    --color-red-600: #d92d20;

    /*Fonts*/
    --font-dm: 'DM Sans Variable', sans-serif;
    --font-fira: 'Fira Code Variable', monospace;

}