---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';

---

<Layout>
    <main>
        <section class="w-[620px] mx-auto">
            <div class="w-full border-1 border-b-0 border-neutral-200 dark:border-neutral-700">
                <div class="mx-2.5 my-10">
                <h1 id="main" class="text-[32px] text-neutral-900 dark:text-neutral-0 leading-snug font-bold mt-12 underline decoration-blue-500 decoration-8">About Me</h1>
                <p class="py-3">
                Hi, I'm Paulina! Ever since I can remember, I've had a passion for creativity and problem-solving. That's what led me to the world of front-end web development. There's something magical about seeing an idea come to life in the browser—whether it's a simple layout experiment or a complex interface for a bigger project.
                </p>
                <p class="py-3">
                When I'm not coding, I love getting lost in a good book. My taste is pretty eclectic: I'll happily read everything from fantasy novels to biographies of tech pioneers. Reading helps me unwind and often sparks new ideas for my coding projects.
                </p>
                <p class="py-3">
                Another big passion of mine is the great outdoors. Hiking allows me to disconnect from the digital world and reconnect with nature. I love challenging hikes with rewarding views at the top. And if I'm not on the trails, you might catch me rock climbing. The combination of mental focus and physical endurance is a perfect parallel to tackling tough coding challenges!
                </p>
                <p class="py-3">
                Some of my favorite books:
                </p>
                <ul class="py-3 list-disc ml-6">
                    <li> <span class="font-semibold">“The Pragmatic Programmer”</span> by Andrew Hunt and David Thomas (for helpful insights into software development)</li>
                    <li><span class="font-semibold">“Ready Player One”</span> by Ernest Cline (for some futuristic escapism)</li>
                    <li><span class="font-semibold">“The Hobbit”</span> by J.R.R. Tolkien (for a bit of fantasy fun)</li>
                    <li><span class="font-semibold">“Educated”</span> by Tara Westover (for incredible inspiration)</li>
                </ul>
                <p class="py-3">
                    I absolutely love my workspace as a place that inspires me to do my best work, so I thought I'd share it with you:
                </p>
                <img
                    class="rounded-xl" 
                    src="/images/image-workspace-large.jpg" alt="Workspace image" />
                <p class="py-3">
                    I hope this blog not only documents my growth but also helps others see that coding can be for everyone. Thanks for joining me on this journey!
                </p>
            </div>
                <Footer />
            </div>
        </section>
    </main>
</Layout>