---
import X from '../icons/X.astro';
import Github from '../icons/Github.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Frontend from '../icons/Frontend.astro';
---

<div class="border-t-1 border-t-neutral-200 dark:border-t-neutral-700 mx-2.5 py-6 flex flex-row justify-between mt-6">
    <span>Made with ❤️ and ☕️</span>
    <div class="flex flex-row gap-2">
        <a href="#" class="p-1 hover:-translate-0.5 transition delay-150 duration-300 ease-in-out">
            <X class="size-4 fill-neutral-600 dark:fill-neutral-0"/>
        </a>
        <a href="#" class="p-1 hover:-translate-0.5 transition delay-150 duration-300 ease-in-out">
            <Github class="size-4 fill-neutral-600 dark:fill-neutral-0"/>
        </a>
        <a href="#" class="p-1 hover:-translate-0.5 transition delay-150 duration-300 ease-in-out">
            <LinkedIn class="size-4 fill-neutral-600 dark:fill-neutral-0"/>
        </a>
        <a href="#" class="p-1 hover:-translate-0.5 transition delay-150 duration-300 ease-in-out">
            <Frontend class="size-4 fill-neutral-600 dark:fill-neutral-0"/>
        </a>
    </div>
</div>