---
import Social from '../components/Social.astro';
---
<div class="border-b-1 border-b-neutral-200 dark:border-b-neutral-700 mx-2.5 my-10">
    <h1 id="main" class="text-[32px] text-neutral-900 dark:text-neutral-0 leading-snug font-bold mt-12 underline decoration-blue-500 decoration-8">Hi, I'm Paulina 👋</h1>
    <p class="py-2">
        I'm on a journey to become a front-end web developer. I love building little projects, trying out new coding techniques, and sharing what I learn along the way. When I'm not at my desk, you'll find me reading, hiking through the mountains, or challenging myself on rock-climbing walls.
    </p>
    <p class="py-2">
        I started this blog to document my progress, keep myself accountable, and hopefully inspire anyone else who's learning to code. Welcome to my corner of the internet, and thanks for stopping by!
    </p>
    <div class="flex flex-row gap-3 mt-2 mb-10">
        <Social />
    </div>
</div>
<style>
    h1#main {
        text-underline-offset: -0.1em;
        text-decoration-skip-ink: none;
    }
</style>