<div
  class="prose dark:prose-invert
  prose-h2:font-bold prose-h2:text-[28px]
  prose-hr:w-48 prose-hr:h-1 prose-hr:mx-auto
  prose-hr:bg-neutral-200 prose-hr:dark:bg-neutral-700
  prose-hr:rounded-sm
  prose-img:rounded-xl
  ">
  <slot />
</div>