<div
  class="prose dark:prose-invert
  prose-h2:font-bold prose-h2:text-[28px]
  prose-hr:w-48 prose-hr:h-1 prose-hr:mx-auto
  prose-hr:bg-neutral-200 prose-hr:dark:bg-neutral-700
  prose-hr:rounded-sm
  prose-blockquote:bg-blue-200 prose-blockquote:dark:bg-blue-900 prose-blockquote:border-1 prose-blockquote:border-blue-500 prose-blockquote:dark:border-blue-700
  prose-strong:not-italic prose-blockquote:rounded-xl
  prose-strong:text-xl
  prose-img:rounded-xl">
  <slot />
</div>