---
import X from '../icons/X.astro';
import Github from '../icons/Github.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Frontend from '../icons/Frontend.astro';
---
<a href="#" class="bg-neutral-0 dark:bg-neutral-800 border-1 border-neutral-200 dark:border-neutral-700 rounded-[10px] p-3.5 hover:bg-neutral-300 dark:hover:bg-neutral-700">
    <X class="size-6 fill-neutral-700 dark:fill-neutral-0"/>
</a>
<a href="#" class="bg-neutral-0 dark:bg-neutral-800 border-1 border-neutral-200 dark:border-neutral-700 rounded-[10px] p-3.5 hover:bg-neutral-300 dark:hover:bg-neutral-700">
    <Github class="size-6 fill-neutral-700 dark:fill-neutral-0"/>
</a>
<a href="#" class="bg-neutral-0 dark:bg-neutral-800 border-1 border-neutral-200 dark:border-neutral-700 rounded-[10px] p-3.5 hover:bg-neutral-300 dark:hover:bg-neutral-700">
    <LinkedIn class="size-6 fill-neutral-700 dark:fill-neutral-0"/>
</a>
<a href="#" class="bg-neutral-0 dark:bg-neutral-800 border-1 border-neutral-200 dark:border-neutral-700 rounded-[10px] p-3.5 hover:bg-neutral-300 dark:hover:bg-neutral-700">
    <Frontend class="size-6 fill-neutral-700 dark:fill-neutral-0"/>
</a>